/*消息框居中*/
.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

table > thead > tr > th {
    white-space: nowrap;
}

.sortable, th[st-sort] {
    cursor: pointer;
}

.sortable:before, th[st-sort]:not(.st-sort-ascent):not(.st-sort-descent):before {
    /*content: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==);*/
    /*background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==) no-repeat center right;*/
    /*content: '\21D5';*/
    /*padding-left: 1em;*/
    font-family: FontAwesome;
    content: '\f0dc';
    padding-right:1px;
}

.st-sort-ascent:before {
    font-family: FontAwesome;
    content: '\f0de';
    padding-right:1px;
    /*background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==) no-repeat center right;*/
    /*content: '\25B2';*/
}

.st-sort-descent:before {
    /*background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=) no-repeat center right;*/
    /*content: '\25BC';*/
    font-family: FontAwesome;
    content: '\f0dd';
    padding-right:1px;
}

.nav-sidebar > li {
    white-space: nowrap;
}

.homepage-img {
    background: url(../welcome.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.copyright {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 30px;
    width: 100%;
    display: block;
}

/*
uib-tab-heading[title]:hover:after {
    font-family: FontAwesome;
    content: '\f129';
    font-size: x-small;
    vertical-align: top;
    padding-left: 1px;
}*/
