/*消息框居中*/
.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

a.disabled, a[disabled], li.disabled, li[disabled] {
    pointer-events: none;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
}
