<div>
    <!--<div><p class="text-center h2">用户注册审阅</p></div>-->
    <uib-tabset>
        <uib-tab>
            <uib-tab-heading>
                <span class=""></span>客户审阅
            </uib-tab-heading>
            <div ng-controller="fsanCtrl">
                <table st-table="dispItems" st-pipe="refreshGrid" class="table table-bordered table-striped">
                    <!--<caption class="caption h4 text-center" title="">客户审阅</caption>-->
                    <thead>
                    <tr>
                        <th></th>
                        <th><input st-search="username" placeholder="用户名" type="search"
                                   class="input-sm form-control">
                        </th>
                        <th><input st-search="realName" placeholder="真实姓名" type="search" size="10"
                                   class="input-sm form-control">
                        </th>
                        <th><input st-search="phone" placeholder="电话" type="search" class="input-sm form-control">
                        </th>
                        <th><input st-search="email" placeholder="邮箱" type="search" class="input-sm form-control">
                        </th>
                        <th><input st-search="weixin" placeholder="微信号" type="search" class="input-sm form-control">
                        </th>
                        <th><input st-search="company" placeholder="名称" type="search"
                                   class="input-sm form-control">
                        </th>
                        <th><input st-search="companyid" placeholder="证件号/单位代码" type="search"
                                   class="input-sm form-control">
                        </th>
                        <th>
                            <select st-search="registerWay" class="input-sm form-control">
                                <option value="">所有</option>
                                <option ng-repeat="p in items.registerWays">{{p}}</option>
                            </select>
                        </th>
                        <th><input st-search="agent" placeholder="代理商" type="search" class="input-sm form-control">
                        <th><input st-search="contractMes" placeholder="注册凭证" type="search"
                                   class="input-sm form-control">
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>序号</th>
                        <th st-sort="username">用户名</th>
                        <th st-sort="realName">真实姓名</th>
                        <th st-sort="phone">电话</th>
                        <th st-sort="email">邮箱</th>
                        <th st-sort="weixin">微信号</th>
                        <th st-sort="company" title="个人信息或所属单位名称"><!--个人信息/单位名称-->名称</th>
                        <th st-sort="companyid" title="单证代码或证件号码">证件号/单位代码</th>
                        <th st-sort="registerWay"><!--商户类型-->类型</th>
                        <th st-sort="agent"><!--所属-->代理商</th>
                        <th st-sort="contractMes" title="用以验证注册用户有效性的证据">注册凭证</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody ng-show="items!==undefined&&items.length>0" class="">
                    <tr ng-repeat="t in dispItems">
                        <td>{{$index+1}}</td>
                        <td>{{t.username}}</td>
                        <td>{{t.realName}}</td>
                        <td>{{t.phone}}</td>
                        <td>{{t.email}}</td>
                        <td>{{t.weixin}}</td>
                        <td>{{t.company}}
                            <!--<span class="text-info" uib-tooltip="证件号/机构代码：{{t.companyid}}"-->
                            <!--tooltip-placement="top"-->
                            <!--tooltip-trigger="'mouseenter'">+</span>-->
                        </td>
                        <td>{{t.companyid}}</td>
                        <td>{{t.registerWay}}</td>
                        <td>{{t.agent}}</td>
                        <td>{{t.contractMes}}</td>
                        <td style="white-space: nowrap">
                            <button ng-click="acceptNotifier(t)" class=" btn btn-default">通过</button>
                            <button ng-click="rejectNotifier(t)" class="btn btn-default">拒绝</button>
                            <!--<div class="input-group">
                                <button ng-click="rejectNotifier(t)" class="btn btn-default form-control">拒绝</button>
                                <i class="glyphicon glyphicon-edit input-group-addon"></i>
                            </div>
                            <input placeholder="拒绝原因">-->
                        </td>
                    </tr>
                    </tbody>

                    <tbody ng-show="items!==undefined&&items.length==0">
                    <tr>
                        <td colspan="20" class="text-center text-info">无数据</td>
                    </tr>
                    </tbody>

                    <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="20" class="text-center text-info">正在拼命为您加载数据……</td>
                    </tr>
                    </tbody>

                    <tbody ng-show="errMsg">
                    <tr>
                        <td colspan="20" class="text-center text-warning">{{errMsg}}</td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <td class="text-center" st-pagination=""  colspan="20">
                    </td>
                    </tfoot>
                </table>
            </div>
        </uib-tab>

    </uib-tabset>
</div>