<div>
    <!--<div><p class="text-center h2">用户控制</p></div>-->
    <uib-tabset>

        <uib-tab select="selectTab(1)">
            <uib-tab-heading>
                <span class=""></span>代理商财务员管理
            </uib-tab-heading>
            <div ng-controller="fscwCtrl" ng-if="selectedTab==1">
                <table st-table="dispItems"  st-pipe="refreshGrid"  class="table table-bordered table-striped">
                    <!--<caption class="caption h4 text-center" title="">代理商财务管理</caption>-->
                    <thead>
                    <tr>
                        <th></th>
                        <th><input st-search="workId" placeholder="用户名" type="search"
                                   class="input-sm form-control">
                        </th>
                        <th><input st-search="name" placeholder="真实姓名" type="search"
                                   class="input-sm form-control">
                        </th>
                        <th><input st-search="phone" placeholder="电话" type="search" class="input-sm form-control">
                        </th>
                        <th><input st-search="email" placeholder="邮箱" type="search" class="input-sm form-control">
                        </th>
                        <!--<th><input st-search="companyid" placeholder="单位代码" type="search"
                                   class="input-sm form-control">
                        </th>-->
                        <th><input st-search="agentid" placeholder="代理商" type="search" class="input-sm form-control">
                        </th>
                        <th>
                            <select st-search="ctlflag" class="input-sm form-control">
                                <option value="">所有</option>
                                <option value="0">正常</option>
                                <option value="-3">锁定</option>
                            </select>
                        </th>
                        <th>
                            <select st-search="ctlflag" class="input-sm form-control">
                                <option value="">所有</option>
                                <option value="0">锁定</option>
                                <option value="-3">解锁</option>
                            </select></th>
                    </tr>
                    <tr>
                        <th>序号</th>
                        <th st-sort="workId">用户名</th>
                        <th st-sort="name">真实姓名</th>
                        <th st-sort="phone">电话</th>
                        <th st-sort="email">邮箱</th>
                        <!--<th st-sort="companyid">单位代码</th>-->
                        <th st-sort="agentid">代理商</th>
                        <th st-sort="ctlflag">控制状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody ng-show="items!==undefined&&items.length>0" class="">
                    <tr ng-repeat="t in dispItems">
                        <td>{{$index+1}}</td>
                        <td>{{t.workId}}</td>
                        <td>{{t.name}}</td>
                        <td>{{t.phone}}</td>
                        <td>{{t.email}}</td>
                        <!--<td>{{t.companyid}}</td>-->
                        <td>{{t.agentid}}</td>
                        <td>{{t.ctlflag | ctrlStatusFilter}}</td>
                        <td>
                            <button ng-click="lock(t)" ng-disabled="t.ctlflag==-3" class=" btn btn-default">锁定</button>
                            <button ng-click="unlock(t)" ng-disabled="t.ctlflag==0" class="btn btn-default">解锁</button>
                        </td>
                    </tr>
                    </tbody>

                    <tbody ng-show="items!==undefined&&items.length==0">
                    <tr>
                        <td colspan="20" class="text-center text-info">无数据</td>
                    </tr>
                    </tbody>

                    <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="20" class="text-center text-info">正在拼命为您加载数据……</td>
                    </tr>
                    </tbody>

                    <tbody ng-show="errMsg">
                    <tr>
                        <td colspan="20" class="text-center text-warning">{{errMsg}}</td>
                    </tr>
                    </tbody>

                    <tfoot>
                        <td class="text-center" st-pagination="" colspan="20" >
                        </td>
                    </tfoot>
                </table>
            </div>
        </uib-tab>

        <uib-tab select="selectTab(2)">
            <uib-tab-heading>
                <span class=""></span>代理商管理员管理
            </uib-tab-heading>
            <div ng-controller="fscmCtrl" ng-if="selectedTab==2">
                <table st-table="dispItems"  st-pipe="refreshGrid"  class="table table-bordered table-striped">
                    <!--<caption class="caption h4 text-center" title="">代理商财务管理</caption>-->
                    <thead>
                    <tr>
                        <th></th>
                        <th><input st-search="workId" placeholder="用户名" type="search"
                                   class="input-sm form-control">
                        </th>
                        <th><input st-search="name" placeholder="真实姓名" type="search"
                                   class="input-sm form-control">
                        </th>
                        <th><input st-search="phone" placeholder="电话" type="search" class="input-sm form-control">
                        </th>
                        <th><input st-search="email" placeholder="邮箱" type="search" class="input-sm form-control">
                        </th>
                        <!--<th><input st-search="companyid" placeholder="单位代码" type="search"
                                   class="input-sm form-control">
                        </th>-->
                        <th><input st-search="agentid" placeholder="代理商" type="search" class="input-sm form-control">
                        </th>
                        <th>
                            <select st-search="ctlflag" class="input-sm form-control">
                                <option value="">所有</option>
                                <option value="0">正常</option>
                                <option value="-3">锁定</option>
                            </select>
                        </th>
                        <th>
                            <select st-search="ctlflag" class="input-sm form-control">
                                <option value="">所有</option>
                                <option value="0">锁定</option>
                                <option value="-3">解锁</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th>序号</th>
                        <th st-sort="workId">用户名</th>
                        <th st-sort="name">真实姓名</th>
                        <th st-sort="phone">电话</th>
                        <th st-sort="email">邮箱</th>
                        <!--<th st-sort="companyid">单位代码</th>-->
                        <th st-sort="agentid">代理商</th>
                        <th st-sort="ctlflag">控制状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody ng-show="items!==undefined&&items.length>0" class="">
                    <tr ng-repeat="t in dispItems">
                        <td>{{$index+1}}</td>
                        <td>{{t.workId}}</td>
                        <td>{{t.name}}</td>
                        <td>{{t.phone}}</td>
                        <td>{{t.email}}</td>
                        <!--<td>{{t.companyid}}</td>-->
                        <td>{{t.agentid}}</td>
                        <td>{{t.ctlflag | ctrlStatusFilter}}</td>
                        <td>
                            <button ng-click="lock(t)" ng-disabled="t.ctlflag==-3" class=" btn btn-default">锁定</button>
                            <button ng-click="unlock(t)" ng-disabled="t.ctlflag==0" class="btn btn-default">解锁</button>
                        </td>
                    </tr>
                    </tbody>

                    <tbody ng-show="items!==undefined&&items.length==0">
                    <tr>
                        <td colspan="20" class="text-center text-info">无数据</td>
                    </tr>
                    </tbody>

                    <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="20" class="text-center text-info">正在拼命为您加载数据……</td>
                    </tr>
                    </tbody>

                    <tbody ng-show="errMsg">
                    <tr>
                        <td colspan="20" class="text-center text-warning">{{errMsg}}</td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <td class="text-center" st-pagination=""  colspan="20" >
                    </td>
                    </tfoot>
                </table>
            </div>
        </uib-tab>
    </uib-tabset>
</div>