<div>
    <table st-table="dispItems" st-pipe="refreshGrid"
           class="table table-bordered table-striped">
        <!--st-pipe="refreshGrid"-->
        <button class="btn btn-primary" ng-click="checkCashing()" title="执行对账操作（请在匹配完所有可用数据后操作）"
                ng-hide="checkInoperable"><span class="glyphicon glyphicon-play"></span>对账……
        </button>
        <!--<caption class="caption h3 text-center" title="用户上传的数据">&lt;!&ndash;<strong class="text-primary">待审核</strong>的&ndash;&gt;付款通知表
        </caption>-->
        <thead>
        <tr>
            <th></th>
            <th ng-hide="checkInoperable"><input st-search="id" placeholder="流水号" type="search" class="input-sm form-control"></th>
            <th><input st-search="payer" placeholder="终端用户" type="search" class="input-sm form-control"></th>
            <th><input st-search="actualPayer" placeholder="实际付款人" type="search" class="input-sm form-control"></th>
            <th>
                <st-date-range predicate="actualPayTime" before="query.before" after="query.after"></st-date-range>
            </th>
            <th>
                <!--<input st-search="payMoney" placeholder="付款金额" type="search" class="input-sm form-control">-->
                <st-number-range predicate="payMoney" lower="query.lower" higher="query.higher"></st-number-range>
            </th>
            <!--<th><st-select-distinct collection="['银行转账','电汇','现金']" predicate="payWay" st-search="payWay" placeholder="付款方式" type="search" class="input-sm form-control"></th>-->
            <th>
                <select st-search="payWay" class="form-control input-sm">
                    <option value="">所有</option>
                    <option ng-repeat="way in items.payWaysInItems||appConf.payWays">{{way}}</option>
                </select>
            </th>
            <th><input st-search="receiver" placeholder="款项接收人" type="search" class="input-sm form-control"></th>
            <!--<th><input st-search="payAccount" placeholder="收款账户" type="search" class="input-sm form-control"></th>-->
            <th></th>
            <th ng-hide="checkInoperable"></th>
            <th>
                <select st-search="checkResult" class="input-sm form-control">
                    <option value="">所有</option>
                    <option value="Y">已通过</option>
                    <option value="N">被否决</option>
                    <option value="W">待定中</option>
                    <option value="V">无</option>
                </select>
            </th>
            <th><input st-search="comment" placeholder="备注" type="search" class="input-sm form-control"></th>
        </tr>
        <tr>
            <th>序号</th>
            <th ng-hide="checkInoperable">流水号</th>
            <!--<th st-sort="payer">付款人</th>-->
            <th st-sort="payer">终端用户</th>
            <th st-sort="actualPayer">实际付款人</th>
            <!--<th st-sort="uploadTime">上传时间</th>-->
            <th st-sort="actualPayTime">实际付款时间</th>
            <th st-sort="payMoney">付款金额（元）</th>
            <th st-sort="payWay">付款方式</th>
            <th st-sort="receiver">款项接收人</th>
            <!--<th st-sort="payAccount">收款账户</th>-->
            <th>凭证</th>
            <th ng-hide="checkInoperable">操作</th>
            <th st-sort="checkResult">状态</th>
            <th st-sort="comment">备注</th>
        </tr>
        </thead>

        <tbody ng-show="isNonEmptyGrid" class="">
        <tr ng-repeat="r in dispItems" on-finish-render-event="fwcnGridDone">
            <td>{{$index+1}}</td>
            <td ng-hide="checkInoperable">{{r.id}}</td>
            <td>{{r.payer}}</td>  <!--之前的付款人，现在的终端用户-->
            <td>{{r.actualPayer}}</td>
            <!--<td>{{r.uploadTime | date}}</td>-->
            <td>{{r.actualPayTime}}</td>
            <td title="总付款金额：{{r.payMoney}}">
                <!--总额：-->
                ￥{{r.payMoney}}
                <br>
                <span><!--合同-->款项{{r.paymentNature.length}}个</span>
                <a><span class="glyphicon glyphicon-eye-open" ng-click="showCM(r)"></span></a>
            </td>
            <td>{{r.payWay}}</td>
            <td>{{r.receiver}}</td>
            <!--<td>{{r.payAccount}}</td>-->
            <td>
                <!--<a><span class="glyphicon glyphicon-eye-open" ng-click="showPicture(r.linkCer)"></span></a>-->
                <a rel="lightbox" href="{{r.linkCer}}"><span class="glyphicon glyphicon-eye-open"></span></a>

                <!--eager loading image-->
                <img ng-src="{{r.linkCer}}" class="hidden">

                <!-- <div id="imgMdl-{{r.id}}" role="dialog" class="modal fade" aria-hidden="true">
                     <div class="modal-dialog">
                         &lt;!&ndash;&ndash;&gt;
                         <div class="">
                             &lt;!&ndash;modal-content&ndash;&gt;
                             <div class="">
                                 &lt;!&ndash;modal-body&ndash;&gt;
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                     ×
                                 </button>
                                 <img id="img-{{r.id}}" ng-src="{{r.linkCer}}" class="img-responsive">
                                 <div class="text-center" style="margin-top: -20px">
                                     <span class="fa fa-rotate-left fa-lg"></span>
                                     &nbsp;&nbsp;&nbsp;&nbsp;
                                     <span class="fa fa-rotate-right fa-lg"></span>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>-->
            </td>
            <td ng-hide="checkInoperable">
                <button ng-click="attachPaymentNotification(r)" class=" btn btn-default"><!--匹配出纳-->
                    <i class="glyphicon glyphicon-transfer"></i> 审批
                </button>
                <!--<button class="btn btn-default hidden">修改</button>-->
                <!--ng-disabled="r.checkResult==='Y'||r.checkResult==='M'"-->
                <!--<button ng-click="approvePaymentNotification(r)" class="btn btn-default">-->
                <!--通过-->
                <!--</button>-->
                <!--ng-disabled="r.checkResult==='N'||r.checkResult==='M'"-->
                <!--<button ng-click="rejectPaymentNotification(r)" class="btn btn-default">
                    否决
                </button>-->
                <!--只有无状态时才可待定-->
                <!--ng-disabled="r.checkResult==='W'||r.checkResult==='M'"-->
                <!--<button ng-click="tbdPaymentNotification(r)" class=" btn btn-default">待定</button>-->
                <!--允许重新匹配？-->
                <!--ng-disabled="r.checkResult==='N'||r.checkResult==='M'"-->
            </td>
            <td>{{(r.checkResult)|notifStatusPrinter}}</td>
            <td>{{r.comment}}</td>
        </tr>
        </tbody>

        <tbody ng-show="isNonEmptyGrid===false">
        <tr>
            <td colspan="20" class="text-center text-info">无数据</td>
        </tr>
        </tbody>

        <tbody ng-show="isLoading">
        <tr>
            <td colspan="20" class="text-center text-info">正在拼命为您加载数据……</td>
        </tr>
        </tbody>

        <tbody ng-show="canShowError">
        <tr>
            <td colspan="20" class="text-center text-warning">{{errMsg}}</td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td class="text-center" st-pagination=""  colspan="20">
            </td>
        </tr>
        </tfoot>
    </table>


    <script type="text/ng-template" id="cm-detail-box.html">
        <span class="glyphicon glyphicon-remove top-right pull-right close" ng-click="closeMsgbox()"></span>
        <div class="modal-header"><h3 class="modal-title">付款分配</h3></div>
        <div class="modal-body">
            <table class="table">
                <thead>
                <th><!--合同号-->货款性质</th>
                <th>金额/元</th>
                </thead>
                <tbody>
                <tr ng-repeat="cm in r.paymentNature track by $index">
                    <td>{{cm.contract}}</td>
                    <td>{{cm.money}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>总付款金额：</th>
                    <td class="text-primary">{{r.payMoney}}</td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="closeMsgbox()">关闭</button>
        </div>
    </script>

    <script type="text/ng-template" id="attach-to-t.html">
        <div ng-init="ctrl.attachCfg={srcId:ctrl.r.id}">
            <div class="modal-header"><h3 class="modal-title" id="assocPanelTitle"><!--关联付款通知到-->匹配出纳</h3></div>
            <div class="modal-body" id="assocPanelBody">
                关联<span class="text-info">付款通知</span>：
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <!--为了与下表的对应列对齐，便于对比信息-->
                        <th style="visibility: hidden;">选择</th>
                        <!--<th>订单号</th>-->
                        <th>付款人</th>
                        <th>付款金额（元）</th>
                        <th>付款方式</th>
                        <!--<th>款项接收人</th>-->
                        <th>收款账户</th>
                        <th>付款时间</th>
                        <!--<th>状态</th>-->
                        <th>摘要</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="visibility: hidden;"></td>
                        <!--<td>{{ctrl.r.orderNum}}</td>-->
                        <td>{{ctrl.r.payer}}</td>
                        <td>{{ctrl.r.payMoney}}</td>
                        <td>{{ctrl.r.payWay}}</td>
                        <!--<td>{{ctrl.r.receiver}}</td>-->
                        <td>{{ctrl.r.payAccount}}</td>
                        <td>{{ctrl.r.actualPayTime}}</td>
                        <!--<td>{{translateNotifyStatus(ctrl.r.checkResult)}}</td>-->
                        <td>{{ctrl.r.comment}}</td>
                    </tr>
                    </tbody>
                </table>

                到<span class="text-info">出纳</span>：

                <div>
                    <table st-table="dispItems" st-safe-src="ctrl.trans" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>选择</th>
                            <!--<th>订单号</th>-->
                            <th st-sort="payer">付款人</th>
                            <th st-sort="money">付款金额（元）</th>
                            <th st-sort="payWay">付款方式</th>
                            <th st-sort="acountNum">付款账号</th>
                            <th st-sort="inputTime">付款时间</th>
                            <!--<th>状态</th>-->
                            <th st-sort="comment">摘要</th>
                        </tr>
                        </thead>

                        <tbody ng-show="ctrl.isNonEmptyGrid">
                        <tr ng-repeat="t in dispItems track by $index">
                            <td>
                                <input type="radio" ng-value="t.id" ng-model="ctrl.attachCfg.targetId" class="radio">
                            </td>
                            <!--<td>{{t.orderNo}}</td>-->
                            <td>{{t.payer}}</td>
                            <td>{{t.money}}</td>
                            <td>{{t.payWay}}</td>
                            <td>{{t.acountNum}}</td>
                            <!--<td>{{t.inputTime | date}}</td>-->
                            <td>{{t.inputTime}}</td>
                            <!--<td>{{t.status}}</td>-->
                            <td>{{t.comment}}</td>
                        </tr>
                        </tbody>

                        <tbody ng-show="ctrl.isNonEmptyGrid===false">
                        <tr>
                            <td colspan="20" class="text-center text-info">无数据</td>
                        </tr>
                        </tbody>

                        <tbody ng-show="ctrl.isLoading">
                        <tr>
                            <td colspan="20" class="text-center text-info">正在拼命为您加载数据……</td>
                        </tr>
                        </tbody>

                        <tbody ng-show="ctrl.canShowError">
                        <tr>
                            <td colspan="20" class="text-center text-warning">{{ctrl.errMsg}}</td>
                        </tr>
                        </tbody>

                        <tfoot>
                        </tfoot>
                    </table>
                </div>

            </div>
            <div class="modal-footer" id="assocPanelFooter">
                <button ng-disabled="progress.rejecting||progressaccepting||progress.attaching||!ctrl.attachCfg.targetId"
                        ladda="progress.attaching" class="btn btn-primary" ng-click="attachSubmit()"><i class="fa fa-exchange"></i> 匹配
                </button>
                <button ng-disabled="progress.rejecting||progressaccepting||progress.attaching" ladda="progress.rejecting"
                        ng-click="rejectPaymentNotification(ctrl.r)" class="btn btn-primary"><i class="fa fa-trash"></i> 否决</button>
                <button ng-disabled="progress.rejecting||progressaccepting||progress.attaching" ladda="progress.accepting"
                        ng-click="tbdPaymentNotification(ctrl.r)" class=" btn btn-primary"><i class="fa fa-hourglass"></i> 待定</button>
                <!--<button class="btn btn-default" ng-click="closeMsgbox()">取消</button>-->
                <div>
                    <span class="text-info" ng-show="ctrl.isProcessing">操作进行中……</span>
                    <span class="text-warning" ng-show="ctrl.attachErrMsg">操作失败：{{ctrl.attachErrMsg}}</span>
                </div>
            </div>
        </div>
    </script>
</div>
